body { background: #72e40; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-uploader-0 { color: #2abf7f; font-size: 21px; margin-bottom: 5px; }
.block-search-1 { color: #ba650a; font-size: 12px; margin-bottom: 5px; }
.block-notify-2 { color: #451560; font-size: 20px; margin-bottom: 5px; }
.block-payment-3 { color: #e34825; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #c4cbbf; font-size: 14px; margin-bottom: 5px; }
.block-logger-5 { color: #4e4ffb; font-size: 19px; margin-bottom: 5px; }
.block-search-6 { color: #4138b2; font-size: 16px; margin-bottom: 5px; }
.block-cart-7 { color: #6d9fac; font-size: 17px; margin-bottom: 5px; }
.block-filter-8 { color: #a4ae01; font-size: 21px; margin-bottom: 5px; }
.block-cluster-9 { color: #6baaf5; font-size: 12px; margin-bottom: 5px; }
.block-helper-10 { color: #eaaadd; font-size: 18px; margin-bottom: 5px; }
.block-logger-11 { color: #12778d; font-size: 13px; margin-bottom: 5px; }